

/*--reset--*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--start editing from here--*/

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.clearfix {
    clear: both;
}

/* clear float */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
    display: block;
}

/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */

img {
    max-width: 100%;
}

/*--end reset--*/

button.w3l-cart {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

body a:hover {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

/* content */

body {
    background: url(/img/loginbanner.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    font-family: 'Mukta Mahee', sans-serif;
}

.text-center {
    text-align: center;
}

.content-w3ls {
    max-width: 450px;
    margin:3em auto;
    margin-top:8em;
}

.notice{
    width:100%;
    background: #e1b1bf;
    margin-bottom: 1em;
    padding:1em;
    border-left:5px solid #da0845;
}

.notice .message{
    font-size: 1.2em;
    font-weight:500;
    color:#da0845;
}

.content-bottom {
    padding: 3em;
    background: #fff;
    padding-top:1em;
}

.content-top-agile {
    background: rgba(0, 0, 0, 0.28);
    padding: 3em;
    text-align: center;
    border-radius: 25px 25px 0 0;
    text-transform: uppercase;
    position: relative;
}

.content-top-agile:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    display: block;
    background: linear-gradient(to right, rgba(0, 128, 0, 0.7), rgba(0, 0, 255, 0.6), rgba(75, 0, 130, 0.6), rgba(238, 130, 238, 0.6), rgba(255, 0, 0, 0.6), rgba(255, 165, 0, 0.6), rgba(255, 255, 0, 0.6));
    background: -moz-linear-gradient(to right, rgba(0, 128, 0, 0.7), rgba(0, 0, 255, 0.6), rgba(75, 0, 130, 0.6), rgba(238, 130, 238, 0.6), rgba(255, 0, 0, 0.6), rgba(255, 165, 0, 0.6), rgba(255, 255, 0, 0.6));
    background: -webkit-gradient(to right, rgba(0, 128, 0, 0.7), rgba(0, 0, 255, 0.6), rgba(75, 0, 130, 0.6), rgba(238, 130, 238, 0.6), rgba(255, 0, 0, 0.6), rgba(255, 165, 0, 0.6), rgba(255, 255, 0, 0.6));
    background: -webkit-linear-gradient(to right, rgba(0, 128, 0, 0.7), rgba(0, 0, 255, 0.6), rgba(75, 0, 130, 0.6), rgba(238, 130, 238, 0.6), rgba(255, 0, 0, 0.6), rgba(255, 165, 0, 0.6), rgba(255, 255, 0, 0.6));
    background: -o-linear-gradient(to right, rgba(0, 128, 0, 0.7), rgba(0, 0, 255, 0.6), rgba(75, 0, 130, 0.6), rgba(238, 130, 238, 0.6), rgba(255, 0, 0, 0.6), rgba(255, 165, 0, 0.6), rgba(255, 255, 0, 0.6));
    background: -ms-linear-gradient(to right, rgba(0, 128, 0, 0.7), rgba(0, 0, 255, 0.6), rgba(75, 0, 130, 0.6), rgba(238, 130, 238, 0.6), rgba(255, 0, 0, 0.6), rgba(255, 165, 0, 0.6), rgba(255, 255, 0, 0.6));
}

.content-top-agile h2 {
    color: #ffffff;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 4px;
    word-spacing: 2px;
}

h1.title-agile {
    padding: 1em 0 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
    text-shadow: 3px 3px 1px #000;
    letter-spacing: 4px;
}

.content-w3ls ul li {
    display: inline-block;
}

li.switch-agileits {
    float: left;
}

ul.list-login li:nth-child(2) {
    float: right;
}

li:nth-child(2) a {
    color: #000;
}

/* form style  */

.form-heading{
    font-size: 2.5rem;
    text-align: center;
    color: #da0845;
    margin-bottom:.2em;
}

form .field-group {
    background: #da0845;
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    margin: 0 0 12px 0;
}

form .field-group span {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 20%;               /* For old syntax, otherwise collapses. */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    color: #ffffff;
    font-size: 1.4em;
    text-align: center;
    line-height: 48px;
}

ul.list-login {
    margin: 2em 0;
}

form .field-group .wthree-field {
    flex: 3 50%;
    -webkit-box-flex:3 50%;     /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 3 50%;        /* OLD - Firefox 19- */
    -webkit-flex: 3 50%;          /* Chrome */
    -ms-flex: 3 50%;             /* IE 10 */
}

.wthree-field input {
    padding: 13px 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #da0845;
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Mukta Mahee', sans-serif;
    outline: none;
}

.wthree-field input[type="submit"] {
    background: #da0845;
    width: 100%;
    border: none;
    color: #fff;
    padding: 12px 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Mukta Mahee', sans-serif;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border:1px solid transparent;
}

.wthree-field input[type="submit"]:hover {
    background: transparent;
    color: #da0845;
    letter-spacing: 2px;
    border-color: #da0845;
}

form a:hover{
    color:#da0845;
}

/* switch */

label.switch {
    position: relative;
    display: inline-block;
    height: 23px;
    padding-left: 5em;
    cursor: pointer;
    color: #000;
}

li:nth-child(2) a,
label.switch {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 26%;
    background-color: #777;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #da0845;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.aleternate-text{
    margin-top:.2rem;
    font-size:1.1rem;
    text-align:center;
}
.aleternate-text a{
    text-decoration: underline;
    color:#da0845;
    font-weight:600;
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* //switch */

.copyright p {
    color: #fff;
    letter-spacing: 1px;
    padding: 0 1em 2em;
}

.copyright p a {
    color: #fff;
}

/* //content */

@media screen and (max-width: 768px) {
    .content-top-agile {
        padding: 2.5em;
    }
}

@media screen and (max-width: 480px) {
    .content-w3ls {
        margin: 3em 1em;
    }
    h1.title-agile {
        font-size: 2.3em;
        letter-spacing: 3px;
    }
    label.switch {
        padding-left: 4em;
    }
    .content-top-agile h2 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 414px) {
    h1.title-agile {
        font-size: 2.2em;
    }
    ul.list-login li:nth-child(2),
    li.switch-agileits {
        float: none;
    }
    ul.list-login li:nth-child(2) {
        margin-top: 1em;
    }
    form .field-group .wthree-field {
        flex: 3 40%;
    }
}

@media screen and (max-width: 384px) {
    h1.title-agile {
        font-size: 2.1em;
    }
    .content-w3ls {
        margin: 2em 1em;
    }
    .wthree-field input[type="submit"] {
        padding: 7px 15px;
    }
}

@media screen and (max-width: 375px) {
    h1.title-agile {
        font-size: 2em;
    }
    .content-top-agile {
        padding: 2em;
    }
    .content-bottom {
        padding: 2em;
        padding-left: 0px;
    }
    .copyright p {
        letter-spacing: 0.5px;
    }
}

@media screen and (max-width: 320px) {
    h1.title-agile {
        font-size: 1.7em;
    }
    .content-bottom {
        padding: 2em 1.5em;
    }
}

/* -- //Responsive code -- */