
html{
    font-size:16px;
}

body{
    font-size: 16px;
    background: #f0f0f0;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 65px;  Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right:2px solid #ccc;
    /*z-index:-1;*/
}

/* The navigation menu links */
.sidenav a {
    padding:1rem;
    text-decoration: none;
    font-size:1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    border-left: 3px solid transparent;
    font-family: 'Open Sans';
    letter-spacing: 1px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #111;
    background:rgb(236, 235, 236);
    border-left:3px solid #453355;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#mySidenav.open{
    width:250px !important;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) 
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/


/*------------------Main Navigation Bar-------------------*/

.custom-navbar{
    background: #435;
    min-height:65px;
    line-height: 65px;
}

.navbar-brand{
    padding:0px;
    padding-left:20px;
    line-height:65px;
    color:#fff !important;
    font-size:1.5em;
}

.custom-navbar{
    z-index:1000;
}
.custom-navbar .left{
    float:left;
    padding-left:1.2em;
}
.custom-navbar .left span{
    color:#fff;
    font-size: 1.5rem;
    font-weight: 900;
    cursor:pointer;
}
.custom-navbar .right{
    float: right;
}
.custom-navbar::after{
    content:"";
    display: table;
    clear:both;
}

#signout{
    margin-right:1em;
    min-width:100px;
    text-align:center;
    letter-spacing:1px;
    border-radius: 0px;
}

.user{
    background-image: url("../img/user_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top:1.2em;
    padding-bottom:1em;
    font-family: 'Source Sans Pro';
    width:100%;
    padding-left:1rem;
}
.user .userimg{
    width:20%;
    /*margin-left:5px;*/
    border-radius:50%;
    float:left;
    /*margin-right:1rem;*/
}
.user .info{
    width:78%;
    overflow: hidden;
    line-height: 50px;
    font-weight:600;
    font-size:15px;
    padding-left:.5rem;
    font-family: 'Roboto';
}
.user:after{
    content: "";
    display: table;
    clear: both;
}

.wrapper{
    margin-left:0px;
    transition: 0.5s;
}

.wrapper.m250{
    margin-left:250px !important;
}

.domains-info{
    margin:.5em;
}

.domains-info-row{
    background: #fff;
    padding:2rem 1rem;
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.1);
}
.domains-info-table{
    margin-top:1em;
}
.table>tbody>tr>td{
<<<<<<< HEAD

    padding:16px !important;
=======
    padding:16px; !important;
>>>>>>> b1c3f891ecd15c565a6f94ec05587586babe5167
    font-family: 'Source Sans Pro'
}


@media screen and (max-width:400px){
    body{
        overflow-x:hidden;
    }
    #mySidenav.open{
        width:100% !important;
        z-index:-1;
    }
    .wrapper.m250{
        margin-left:100% !important;
    }
}